BetterDiscordPanel/
~$Bot na platformě Discord.pptx
barmaid/*.log
barmaid/data.json
barmaid/data.json
*.pyc
barmaid/playground.py
barmaid/test.py
barmaid/ffmpeg/
barmaid/ffmpeg.exe
barmaid/_asyncio_threads_test.py
barmaid/_playground.py
barmaid/_save.py
__pycache__/
barmaid/.env
*.zip
odevzdani/
odevzdani/
*.pptx
barmaid/server_deploy/ffmpeg.exe
barmaid/log_service/barmaid.log
*.log
barmaid/audio_service/audio_backup.py
